html {
    width: 100%;
    overflow-x: hidden;
}


.container-fluid {
    /*margin: auto;*/
}

.container {
    padding: 0 10px 0 10px;
    height: auto;
}

.whitespace-2 {
    width: auto;
    height: 40px;
}

main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*HEADER*/

.main-header {
    height: 120px;
}

/*Header-deco*/

.deco-left {
    display: inline-block;
    background-image: url(../images/header-deco-left@2x.png);
    background-size: 530px 120px;
    background-position: center;
    background-repeat: no-repeat;
    width: 530px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -770px;
}

.deco-right {
    display: inline-block;
    background-image: url(../images/header-deco-right@2x.png);
    background-size: 550px 135px;
    background-position: center;
    background-repeat: no-repeat;
    width: 530px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -770px;
}

/*Header-site-logo*/

.main-header .container .site-logo {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    font-weight: 500;
}

.main-header .container .site-logo img {
    vertical-align: middle;
    width: 136px;
    height: 84px;
} 

.main-header .container .site-logo span {
    vertical-align: middle;
    line-height: 52px;
    font-size: 2.675rem;
    padding-left: 5px;
    color: #0c4274;
}

@media (min-width:768px) and (max-width:991px) {

    .main-header{
        width: 100%;
        height: auto;
        border-bottom: 1px solid #00a9ca;
        margin-bottom: 5px;
    }

    .main-header .container .site-logo img {
        vertical-align: middle;
        width: 68px;
        height: 42px;
    } 

    .main-header .container .site-logo span{
    vertical-align: middle;
    line-height: 32px;
    font-size: 20px;
    padding-left: 10px;
    }

}

@media (max-width:767px) {
    .main-header{
        width: 100%;
        height: auto;
        border-bottom: 1px solid #00a9ca;
        margin-bottom: 5px;
    }

    .main-header .container .site-logo img {
        vertical-align: middle;
        width: 52px;
        height: 36px;
    }
    
    .main-header .container .site-logo span{
        display: none;
        }

    .main-header .container .logo .searcs {
        display: none;
    }
}

/*Header shipping-info */

.shipping-info {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    color: #f47e3a;
    padding-left: 10px;
    margin-top: 30px;
}

@media (max-width:991px) {

    .main-header .container .logo {
        width: 33%;
    }

    .shipping-info {
        display: none;
    }

    .main-fns .s-m-hidden {
        display: none;
    }

    .login-user .icon-cart {
    margin-right: 0;
    position: relative;
    }
}

.icon-vam {
    width: 45px;
    padding-right: 10px;
}

/*Header main-fns*/

.icon-user {
    background: orangered;
}

.icon-partner {
    background: orchid;
}

.icon-cart {
    background: green;
}

.map {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    font-size: 13px;
}

.maps {
    text-transform: uppercase;
    color: #0c4274;
    font-weight: 500;
}

.icon-user,
.icon-partner,
.icon-cart {
    width: 35px;
    border-radius: 50%;
}

.login-user {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 10px;
}

.login-user>form>input {
    border: 0;
    padding: 0 0 13px 10px;
    display: block;
    height: 34px;
    width: 100%;
    float: left;
    outline: 0 !important;
    border-radius: 0;
    background-clip: padding-box;
}

.site-search {
    display: inline-block;
}


.searcs {
    height: 36px;
    width: auto;
    margin: 0 0 0 20px;
    background-clip: padding-box;
    display: inline-block;
    vertical-align: middle;
}

.main-fns .searcs>form {
    border: 1px solid #00a9ca;
    border-radius: 5px;
    overflow: hidden;
}


/*Mobil-nav*/

.mobile-nav .sidenav .main-fns .box {
    padding: 15px 10px;
    border-top: 1px solid #74d0e2;
    float: none;
    clear: both;
    height: 66px;
}

/*Mobile-nav-search*/

.site-search form {
    border: 1px solid #00a9ca;
    border-radius: 5px;
    margin: 20px 10px;
    overflow: hidden;
}

.site-search>form>input {
    width: calc(100% - 36px);
    height: 38px;
    display: inline-block;
    text-transform: uppercase;
}

.site-search>form>button {
    width: 36px;
    float: right;
    height: 38px;
    background-color: #74d0e2;
    border: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.site-search>form>button>i {
    vertical-align: middle;
}

/*Mobile-belépés-regisztráció-kosár*/

.mobile-login-user .mobile-belepes,
.mobile-login-user .mobile-regisztracio,
.mobile-login-partner .mobile-belepes,
.mobile-login-partner .mobile-regisztracio,
.mobile-site-cart .mobile-kosar,
.mobile-site-cart .mobile-kosar-tartalom {
    display: inline-block;
}

.mobile-login-user .mobile-regisztracio,
.mobile-login-partner .mobile-regisztracio,
.mobile-site-cart .mobile-kosar-tartalom {
    float: right;
}

.mobile-site-cart .mobile-kosar-tartalom a {
    padding-top: 8px !important;
}

.mobile-login-user .mobile-regisztracio>button {
    background: #f47e3a;
    border: 1px solid #f47e3a;
    border-radius: 5px;
    padding: 4px 10px;
    font-weight: 500;
    color: #fff;
}

.mobile-login-partner .mobile-regisztracio>button {
    background: #a71f67;
    border: 1px solid #a71f67;
    border-radius: 5px;
    padding: 4px 10px;
    font-weight: 500;
    color: #fff;
}

.mobile-login-user .mobile-belepes>img {
    width: 36px;
    height: 36px;
    background-color: #f47e3a;
    border-radius: 50%;
    margin-right: 10px;
}

.mobile-login-partner .mobile-belepes>img {
    width: 36px;
    height: 36px;
    background-color: #a71f67;
    border-radius: 50%;
    margin-right: 10px;
}

.mobile-site-cart .mobile-kosar>img {
    width: 36px;
    height: 36px;
    background-color: #6ebf4b;
    border-radius: 50%;
    margin-right: 10px;
}
.mobile-nav .sidenav .main-fns .box a {
    display: inline-block;
    padding: 0;
    font-size: 15px;
}

.mobile-nav .sidenav .main-fns .box button a {
    padding: 0;
    font-size: 18px;
    color: #fff;
}

.mobile-nav .sidenav .main-fns .box a span {
    font-size: 15px;
}

.main-fns .box {
    vertical-align: middle;
    text-transform: uppercase;
}

.main-fns .site-search {
    width: 100%;
}

/*mobile-nav navigáció*/

.mobile-nav-button {
    background-color: #00a9ca;
    border-color: #018aa5;
    border-radius: 5px;
}

.mobile-nav-button .bar {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 7px 0;
}

.mobile-nav .sidenav>ul>li {
    display: block;
    border-bottom: 1px solid #abced4;
}

.mobile-nav .sidenav>ul>li>a {
    padding: 10px 20px;
    height: auto;
    font-size: 14px;
    text-transform: uppercase;
    color: #0c4274;
}

.mobile-nav .sidenav .menu-title {
    background-color: #74d0e2;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
}

.mobile-nav {
    position: absolute;
    top: 5px;
    right: 10%;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #c1eaf2;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 1000;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*Nav*/

@media (max-width:991px) {
    .nav_bar {
        width: 30px;
        height: 30px;
        background-color: aqua;
    }
}

@media (min-width:992px) {
    .nav_bar {
        display: none;
    }
}

@media (max-widt:991px) {
    .fixed {
        width: 30px;
        height: 30px;
        display: inline;
    }
}

.main-nav {
    background: #00a9ca;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    padding: 0;
    min-height: 50px;
}


.fixed {
    background-color: #00a9ca;
    border: 1px solid #018aa5;
    margin: 0 0 22px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-nav__item {
    display: inline-block;
    margin: 5px 0;
    padding: 0 5px;
    list-style: none;
}

.main-nav__item a:hover {
    color: #ffd447;
    text-decoration: none;
}

.main-nav__item a:active {
    color: #ffd447;
}

.main-nav__item a {
    color: white;
}

.main-nav img {
    width: 55px;
    height: auto;
    padding: 0 15px;
}

.main-nav .penznem {
    color: #00a9ca;
    background: white;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
}

.main-nav .flag {
    width: 60px;
    border-radius: 50%;
}

/*Nav-Dropdown*/

.submenu ul {
    background-color: #1fd5fa;
    color: #0c4274;
}

.submenu a {
    background-color: #1fd5fa;
    color: #0c4274;
}

.list-unstyled {
    display: table-cell;
    padding: 8px 20px;
    white-space: nowrap;
}

.main-nav__item .dropdown-menu {
    padding: 0;
    border: 2px solid #ffd447;
}
.dropdown-menu .submenu>ul {
    padding: 10px;
}

.dropdown-menu .submenu>ul>li {
    padding-bottom: 5px;
}

.dropdown-menu .submenu>ul>li>a>.material-icons {
    color: #ffd447;
    background-clip: padding-box;
    line-height: 18px;
    width: 18px;
    text-align: center;
    font-size: 2rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}

.dropdown-menu .submenu>ul>li>a>span {
    font-size: 1.6rem;
}

.navbar-collapse .dropdown {
    display: inline-block !important;
}

.dropdown-menu .dropdown-header {
    background-color: #ffd447;
    color: black;
    font-size: 19px;
    margin-top: 0;
}

/*Aside*/

.search-panel {
    padding: 20px;
    border: 1px solid #ffd447;
    position: relative;
    overflow: hidden;
    width: 220px;
    height: auto;
    cursor: pointer;
}

.search-panel h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #0c4274;
    margin-top: 10px;
    padding-bottom: 40px;
    text-transform: capitalize;
    
}

.search-panel form label,
.search-panel .panel .gender ul li label {
    font-weight: 300;
}

.search-panel h4 {
    font-size: 15px;
    padding: 10px 0;
}

.deco-top {
    background: url(../images/sidebar-deco-top@2x.png);
    background-size: 360px 150px;
    width: 360px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -70px;
    z-index: -1;
}

.deco-bottom {
    background: url(../images/sidebar-deco-bottom@2x.png);
    background-size: 360px 150px;
    width: 360px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: -40px;
    z-index: -1;
}

.gender ul {
    list-style-type: none;
    position: relative;
    left: -10px;
}

.keyword .button {
    width: auto;
    height: 35px;
    margin: 10px 0 50px 0;
    padding: 0 30px;
    background: #ffc107;
    color: white;
    border: 1px solid #ffc107;
    border-radius: 5px;
    text-align: center;
}

.whitespace {
    width: auto;
    height: 80px;
}

.whitespace-2 {
    width: auto;
    height: 40px;
}

.newsletter .form-group {
    margin-bottom: 0;
}

.candy-border {
    background-image: url(../images/newsletter-border-h.png);
    background-size: 25px 8px;
    background-position: center;
    background-repeat: repeat-x;
    height: 8px;
    width: auto;
}

.newsletter {
    padding: 10px;
    border: 4px solid #fff;
    background: #c1eaf2;
    font-size: 14px;
    width: 100%;
    height: auto;

}

.newsletter::before {
    background-image: url(../images/newsletter-border@2x.png);
    background-size: 8px 25px;
    background-position: center;
    background-repeat: repeat-y;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 8px;
    z-index: 12;
    width: 8px;
    height: auto;
}

.newsletter::after {
    background-image: url(../images/newsletter-border@2x.png);
    background-size: 8px 25px;
    background-position: center;
    background-repeat: repeat-y;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 8px;
    z-index: 12;
    width: 8px;
    height: auto;
}


.newsletter .btn-default {
    width: auto;
    height: 35px;
    margin: 10px 0 50px 0;
    background: #f69d01;
    color: #118799;
    border: 1px solid #f69d01;
    border-radius: 5px;
    text-align: center;
}

.newsletter .btn-button {
    width: auto;
    height: 35px;
    margin: 10px 0 50px 0;
    text-align: center;
    background: #17a2b8;
    color: #ffc107;
}


.category {
    margin-top: 10px;
}

.category-heading {
    padding: 10px 0;
}

.category-heading h3 {
    padding: 0 0 10px 20px;
    border-bottom: 1px solid #c1eaf2;
    text-transform: uppercase;
    color: #0c4274;
    font-size: 21px;
}

.category ul {
    list-style-type: none;
    padding-left: 20px;
}

.category li {
    padding: 2px 0;
}

.category ul li a {
    color: #00a9ca;
}

/*Carousel*/

.carousel {
    width: 100%;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}

.carousel .carousel-inner .carousel-item>img {
    width: 100% !important;
    height: auto !important;
}
/**/

.libox {
    display: table-cell;
    width: 50% !important;
    padding: 0;
}

.product-list {
    display: table;
}

.product-list>li>ul {
    display: table;
    width: 100%;
    float: none !important;
}

.box1 {
    display: table;
    /*float: none !important;*/
    width: 100%;
}

.box2 {
    display: table-cell;
    width: 50% !important;
    vertical-align: middle;
}

/*Main*/

.box {
    width: auto;
    height: 387px;
    border: 1px solid #00a9ca;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexx {
    position: relative;
    width: 25%;
    margin-bottom: 20px;
    padding: 0 10px;
    list-style: none;
    padding: 0 10px;

}


@media (max-width:767px) {
    .flexx {
        width: 50%;
    }
}

.product-list-item {
    height: 387px;
    border: 1px solid #1fd5fa;
    padding: 5px 5px 125px 5px;
    display: block;
    top: 0;
    bottom: 0;
}

.product-list-item figure {
    display: block;
    position: relative;
    overflow: hidden;
    height: 180px;
}

.product-list-item>a>figure>img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    margin: auto;
    max-width: 100%;
    height: auto;

}

.product-list-item>a>h5 {
    margin: 10px 0 ;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #1fd5fa;

}

.product-list-elements .product-list-item .price-list {
    position: absolute;
    bottom: 80px;
    left: 15px;
    right: 15px;
    text-align: center;
    z-index: 15;
    margin-bottom: 10px;
}

.product-list-item .price-list .total {
    color: #00a9ca;
    text-align: center;
    font-size: 1.45rem;
}

.product-list-item .price-list .total>em {
    font-size: 1.35rem;
    color: #00a9ca;
    text-decoration: line-through;
    display: inline-block;
}

.product-list-item .price-list .total>span {
    font-size: 1.45rem;
    color: #f69d01;
    display: inline-block;
    font-weight: 500;
}

.product-list-elements .product-list-item .btn-basket {
    width: auto;
    height: 44px;
    line-height: 42px;
    color: #fff;
    background-color: #00a9ca;
    border-color: #00a9ca;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 35px;
    right: 15px;
    left: 15px;
    padding: 0;
}

.btn-basket .to-cart {
    background-color: #00a9ca;
    border: none !important;
    width: 100%;
    text-transform: uppercase;
    padding: 0;
}

.btn-basket .to-cart>i {
    background-image: url(../images/icon-cart@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
}

.btn-basket .to-cart>span {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    font-size: 1.25rem;
}

.product-list-elements .product-list-item .favourite {
    position: absolute;
    bottom: 7px;
    padding-top: 10px;
    cursor: pointer;
    font-size: 1.25rem;
}

.dobozok .block-title,
.dobozok .block-subtitle {
    display: block;
    height: 48px;
    margin-bottom: 30px;
    position: relative;
}

.dobozok .block-title::after,
.dobozok .block-subtitle::after {
    position: absolute;
    margin-left: -80px;
    display: block;
    height: 1px;
    background-color: #0c4274;
    left: 50%;
    width: 160px;
    content: '';
    bottom: 0;
}

.dobozok .block-title h2,
.dobozok .block-subtitle h2 {
    font-family: 'Kaushan Script', cursive;
    color: #0c4274;
    font-size: 30px;
    line-height: 48px;
    display: block;
}

.badge-icon {
    position: absolute;
    z-index: 1;
    display: block;
}

.badge-new {
    background-image: url(../images/badge-new@2x.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    right: 0;
}

.badge-new>span {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 16px;
}

.badge-tv {
    background-image: url(../images/badge-tv@2x.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 0;
}

.badge-award {
    background-image: url(../images/badge-award@2x.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
}

.badge-sale {
    background-image: url(../images/badge-sale@2x.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.badge-sale>span {
    color: #fff;
    position: absolute;
    top: 12px;
    left: 10px;
}

/*FOOTER*/

.site-footer {
    padding: 60px 0 0 0 !important;
    min-height: 480px;
    border-top: 1px solid #00a9ca;
    position: relative;
    background-color: #fff;
    margin: auto;
}

.site-footer .deco-left {
    background: url(../images/footer-deco@2x.png);
    background-size: 920px 320px;
    width: 920px;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -900px;
}

.site-footer h3 {
    padding-left: 30px;
    position: relative;
}

.site-footer .title {
    font-size: 21px;
    margin: 0;
    text-transform: uppercase;
    color: #0c4274;
}


.site-footer h3::after {
    background: url(../images/footer-bullet@2x.png);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 2px;
    top: 5px;
    display: block;
}


.site-footer ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 30px;
}

.site-footer ul li a {
    color: #00a9ca;
}

.partners-container {
    position: relative;
    text-align: right;
    font-size: 14px;
    color: #00a9ca;
}

.contact-data {
    padding: 10px 0 0 30px;
}

.contact-data p {
    color: #00a9ca;
}

.partner-logos,
.main-partner,
.copyright {
    padding: 0 10px 15px 10px !important; 
}

.madeby {
    padding: 0 10px 30px 10px;
}

.facebook1,
.google1 {
    padding-left: 30px;
}

.facebook2,
.google2 {
    display: inline-block;
    vertical-align: middle;
}

.facebook2 a,
.google2 a {
    color: #00a9ca;
}

.facebook2 a:hover,
.google2 a:hover {
    color: #018aa5;
}

.product {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 0 10px;
    align-content: stretch;
}




.product-list {
    width: calc(100% + 20px);
    min-width: 100%;
    list-style: none;
    height: 200px;
}